:root {
  --box-border-radius: 3px;
  --base-box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
  --dropdown-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --preview-item-box-shadow: 0 9px 19px rgba(0, 0, 0, 0.16);
  --dot-border: 1px dotted var(--light-border-color);
  --dash-border: 1px dashed var(--light-border-color);
  --dashed-border-light: 1px dashed var(--gray-3);
  --dashed-border-dark: 1px dashed var(--gray-5);
  --footer-border: 2px solid var(--white);
  --heavy-border-width: 4px;
}
