:root {
  --space-xxxs: 0.2rem;
  --space-xxs: 0.4rem;
  --space-xs: 0.8rem;
  --space-s: 1.2rem;
  --space-default: 1.6rem;
  --space-l: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 4rem;
  --space-xxxl: 4.8rem;
}
